article {
  font-family: "Shippori Mincho B1", serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
  padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  font-size: 2em;
}

p {
  color: var(--text-color);
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}
