/* Quiz styles */

#quiz {
  font-family: "Shippori Mincho B1", serif;
  color: var(--text-color);
  padding: 15px;
  min-height: 80vh;
  text-align: center;

  /* Responsive design */
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
}

#question h1 {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 30px;
}

#options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.option {
  font-size: 1.75em;
  font-family: inherit;
  color: white;
  background-color: var(--orange);
  border-radius: 6px;
  cursor: pointer;
  padding: 5px;
}

#next, #retry {
  display: none; /* Hide by default */
  width: 100%;
  font-size: 1.75em;
  font-family: inherit;
  color: white;
  background-color: var(--blue);
  border-radius: 6px;
  cursor: pointer;
  padding: 5px;
}

#result {
  font-size: 2em;
  margin: 20px;
}

.option:hover, #next:hover, #retry:hover {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  #question, #options, #next {
    margin-left: auto;
    margin-right: auto;
    max-width: 50vh;
  }

  #question h1 {
    margin-top: 60px;
    font-size: 2em;
  }

  .option {
    padding: 20px;
  }

  #next, #retry {
    padding: 20px;
    font-size: 2em;
    margin-bottom: 20px;
  }
}
